body {
    font-family: 'Architects Daughter', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: rgb(166, 167, 167);
    padding-bottom: 70px;
}



.top-banar {
    background-image: url(images/donation8.jpg);
    background-repeat: no-repeat;
    text-align: center;
    width: 78%;
    height: 400px;
    padding-top: 50px;
    margin-top: 0px;
    margin: auto;
    color: aliceblue;
}

.top-banar div {
    margin: 40px;
    height: 320px;
    background-color: rgba(209, 214, 214, 0.158);
    border-radius: 20px;
}

.top-banar h1 {
    text-align: center;
    color: rgb(151, 10, 33);
    font-size: 38px;
    font-weight: 800;
    padding-top: 30px;
}

.top-banar p {
    margin: 0px 50px 40px 50px;
    color: black;
}

.Donate-Now {
    padding: 20px 80px;
    background-color: rgb(148, 22, 22);
    color: #ffff;
    border-radius: 20px;
    margin-top: 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
}

.Donate-Now:hover {
    background-color: rgb(114, 5, 5);
}

/* Donate Today */
.Donate-Today {
    text-align: center;
    width: 78%;
    margin: 60px auto 0;
    /* background-color: aqua; */

}

.Donate-Today h1 {
    font-size: 28px;
    font-weight: 800;
}

.Donate-Today p {
    margin: 0 10%;
}

.Donate-Today-taka {
    display: flex;
    gap: 35px;
    margin-top: 30px;
}

.Donate-Today-taka h1 {
    background-color: lightsteelblue;
    padding: 30px 50px;
    border-radius: 10px;
}

#silekt {
    background-color: rgb(56, 71, 90);
    color: #ffff;
    padding: 30px 50px;
    border-radius: 10px;
}

.Other hr {
    margin-bottom: 40px;
    border: 2px solid rgba(129, 126, 125, 0.575);
}